<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ion-list-header>
      <h4>Air Quality Index</h4>
    </ion-list-header>

    <ion-item *ngFor="let country of countries">
      <ion-avatar slot="start">
        <ion-img [src]="country.flag"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ country.country }}</h2>
        <h3>Population: {{ country.population | number }}</h3>
        <h3>AQI: {{ country.aqi | number }}</h3>
      </ion-label>
      <ion-note
          slot="end"
          [ngClass]="{
            'good': country.aqi < '20',
            'moderate': country.aqi < '40' && country.aqi >= '20',
            'unhealthy': country.aqi < '60' && country.aqi >= '40',
            'very-unhealthy': country.aqi < '80' && country.aqi >= '60',
            'hazardous': country.aqi >= '80'
          }"
        >
          <h6>{{ getRank(country.aqi) }}</h6>
        </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
<!--
red   c50914
green 708090
amber e09e02e3 -->
